* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  background-color: #0E0808; }

#hero {
  background-color: #0E0808; }
  #hero .hero__title {
    font-family: 'IM Fell Great Primer SC', serif;
    color: #E4E0E0; }
  #hero .hero__subtitle {
    font-family: 'Kosugi', sans-serif;
    color: #E4E0E0; }
