footer{
    .footer-conteiner{
        margin-top: 20px;
        background-color: #372C2C;
        p{  
            text-align: center;
            padding: 5px;
            color: #D9D9D9;
        }
    }
}