main{
    background-color: #fdfdfd;
}

#hero{
    background-color: #D9D9D9;
    .hero__title{
        font-family: 'IM Fell Great Primer SC', serif;
    }
    .hero__subtitle {
        font-family: 'Kosugi', sans-serif;
    }
}